<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matie.redgram" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name="com.matie.redgram.data.network.connection.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.common.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.matie.redgram" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.subcription.SubscriptionActivity"
            android:label="@string/fragment_subreddits"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".ui.thread.views.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/Slider" >
        </activity>
        <activity
            android:name=".ui.common.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_auth"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
